<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carrito</title>

    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/carrito-styles.css" />
  </head>

  <body>
    <%- include("./partials/header") %>
    <main class="MContainer">
      <h1>TU CARRITO DE COMPRAS</h1>
      <section class="sectionContainer">
        <% products.forEach((product) => { %> <% if (product.id < 5) { %>
        <article class="sectionContainer__container-buyDesc">
          <div>
            <img
              class="product-image"
              src="<%= product.img %>"
              alt="img_grafic_card"
            />
          </div>
          <div class="container-product-desc">
            <span class="product-name"><%= product.nombre %> </span>
            <div class="product-price">
              <span><%= product.precio %></span>
            </div>
            <div class="product-amount">
              <span>1</span>
            </div>
          </div>
          <div class="container-button">
            <span><i class="fa-solid fa-x"></i></span>
            <span><i class="fa-solid fa-plus"></i></span>
            <span><i class="fa-solid fa-minus"></i></span>
          </div>
        </article>
        <% }}) %>
      </section>
      <h2>Total a pagar</h2>
      <div class="container-totalcost">
        <b>Cantidad de productos: 4</b>
        <b>Costo de envío: Gratis</b>
        <b>Total a pagar: $446.000</b>

        <button>Continuar con la compra</button>
      </div>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
