<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carrito</title>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/carrito-styles.css" />
</head>

<body>
  <%- include("./partials/header") %>
    <main class="MContainer">
      <h1>TU CARRITO DE COMPRAS</h1>
      <section class="sectionContainer">
        <% if (carrito && carrito.productos.length> 0) {
          carrito.productos.forEach((product) => { %>
          <article class="sectionContainer__container-buyDesc">
            <div>
              <img class="product-image" src="<%= product.img %>" alt="<%= product.nombre %>" />
            </div>
            <div class="container-product-desc">
              <span class="product-name">
                <%= product.nombre %>
              </span>
              <div class="product-price">
                <span>Precio: $<%= product.precio %></span>
              </div>
              <div class="product-amount">
              </div>
            </div>
            <div class="container-button">
            </div>
          </article>
          <% }); } else { %>
            <p>Tu carrito está vacío.</p>
            <% } %>
      </section>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>