<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles-index.css" />
    <title>Tecno-JUY</title>
</head>

<body>
  <!-- Header -->
  <%- include("./partials/header") %>
    <!-- Page content -->
    <main>
      <section class="Banners__splide">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src="\images\images_slider\first-splide.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="\images\images_slider\second-splide.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="\images\images_slider\three-splide.jpg" alt="" />
              </li>
            </ul>
          </div>
        </div>
        <div class="my-slider-progress">
          <div class="my-slider-progress-bar"></div>
        </div>
        <script src="\js\script-splide.js"></script>
      </section>
      <!-- Ultimas novedades productos -->
      <section class="Ultimas-Novedades">
        <div class="latest-title">
          <h3>#Lo mas visto</h3>
        </div>
        <div class="carousel-container">
          <% const masVistosProducts=productsIndex .filter((product)=> product.seccionId === 1)
            .slice(-8); // Tomar los últimos 8 productos
            %>

            <% masVistosProducts.forEach((product)=> { %>
              <div class="product-card">
                <a href="/products/product/<%= product.id %>">
                  <div class="container-product-image">
                    <% if (product.descuento) { %>
                      <div class="ofert-product">
                        <span>
                          <%= product.descuento %>% OFF
                        </span>
                      </div>
                      <% } %>
                        <img class="product-image" src="<%= product.img %>" alt="productosNovedad" />
                  </div>
                  <div class="container-descripcion-product">
                    <div class="product-name">
                      <p>
                        <%= product.nombre %>
                      </p>
                    </div>
                    <div class="cuotas" style="text-align: left;
                    margin: 10px 0 10px 10px;
                    font-size: 13px;
                    color: gray;">
                      <p>
                        x12 de <%= (product.precio * 1.05 / 12).toLocaleString() %>$
                      </p>
                    </div>
                    <div class="product-price">
                      <span>$<%= product.precio.toLocaleString() %></span>
                    </div>
                  </div>
                </a>
              </div>
              <% }); %>
        </div>

        <div class="see-more">
          <a href="/products"><span>VER TODO</span></a>
        </div>
      </section>
      <div class="caja-container">
        <div class="caja">
          <img src="\images\icon-laptop.png" alt="Laptop">
          <p>Notebooks</p>
        </div>
        <div class="caja">
          <img src="\images\smartTablet.png" alt="Celular">
          <p>Celulares & Tablets</p>
        </div>
        <div class="caja">
          <img src="\images\ordenador-personal.png" alt="pc">
          <p>Pc Armadas</p>
        </div>
      </div>

      <!-- Ofertas productos -->
      <section class="Ofertas">
        <div class="latest-title-2">
          <h3>#Ofertas</h3>
        </div>
        <div class="carousel-container">
          <% const ofertasProducts=productsIndex.filter(product=> product.seccionId === 3).slice(-8).reverse() %>
            <% ofertasProducts.forEach(product=> { %>
              <div class="product-card">
                <a href="/products/product/<%= product.id %>">
                  <div class="container-product-image">
                    <div class="ofert-product">
                      <span>
                        <%= product.descuento %>% OFF
                      </span>
                    </div>
                    <img class="product-image" src="<%= product.img %>" alt="productosOferta" />
                  </div>
                  <div class="container-descripcion-product">
                    <div class="product-name">
                      <p>
                        <%= product.nombre %>
                      </p>
                    </div>
                    <div class="cuotas" style="text-align: left;
                    margin: 10px 0 10px 10px;
                    font-size: 13px;
                    color: gray;">
                      <p>
                        x12 de <%= (product.precio * 1.05 / 12).toLocaleString() %>$
                      </p>
                    </div>
                    <div class="product-price">
                      <span>$<%= product.precio.toLocaleString() %></span>
                    </div>
                  </div>
                </a>
              </div>
              <% }); %>

        </div>

        <div class="see-more">
          <a href="/products"><span>VER TODO</span></a>
        </div>
      </section>
      <div class="caja-container">
        <div class="caja">
          <img src="\images\jostick.png" alt="Joystick">
          <p>Gaming</p>
        </div>
        <div class="caja">
          <img src="\images\monitor.png" alt="monitor">
          <p>Monitores</p>
        </div>
        <div class="caja">
          <img src="\images\memoria.png" alt="memorias">
          <p>Memorias</p>
        </div>
      </div>
      <!-- Ultimos Agregados  -->
      <section class="Ultimas-Novedades">
        <div class="latest-title">
          <h3>#Últimos Agregados</h3>
        </div>
        <div class="carousel-container">
          <% const recentProducts=productsIndex .slice(-8).reverse() %>

            <% recentProducts.forEach((product)=> { %>
              <div class="product-card">
                <a href="/products/product/<%= product.id %>">
                  <div class="container-product-image">
                    <% if (product.descuento) { %>
                      <div class="ofert-product">
                        <span>
                          <%= product.descuento %>% OFF
                        </span>
                      </div>
                      <% } %>
                        <img class="product-image" src="<%= product.img %>" alt="productosNovedad" />
                  </div>
                  <div class="container-descripcion-product">
                    <div class="product-name">
                      <p>
                        <%= product.nombre %>
                      </p>
                    </div>
                    <div class="cuotas" style="text-align: left;
                    margin: 10px 0 10px 10px;
                    font-size: 13px;
                    color: gray;">
                      <p>
                        x12 de <%= (product.precio * 1.05 / 12).toLocaleString() %>$
                      </p>
                    </div>
                    <div class="product-price">
                      <span>$<%= product.precio.toLocaleString() %></span>
                    </div>
                  </div>
                </a>
              </div>
              <% }); %>
        </div>

        <div class="see-more">
          <a href="/products"><span>VER TODO</span></a>
        </div>


        <!-- Nueva caja contenedora para las imágenes/botones móviles -->
        <div class="mobile-buttons-container">
          <div class="caja">
            <a href="#gaming"><img src="\images\jostick.png" alt="Joystick"></a>
            <p>Gaming</p>
          </div>
          <div class="caja">
            <a href="#monitores"><img src="\images\monitor.png" alt="monitor"></a>
            <p>Monitores</p>
          </div>
          <div class="caja">
            <a href="#memorias"><img src="\images\memoria.png" alt="memorias"></a>
            <p>Memorias</p>
          </div>
        </div>
        </div>

      </section>
      <%- include("./partials/slider-marcas") %>

        <section class="banner-discount">
          <div class="banner-container">
            <div class="banner-text">
              <h4>¡Únete Gratis por Primera Vez y Obtén un 10% de Descuento!</h4>
            </div>
            <a class="join-button" href="/login-register"><i class="fa-solid fa-hand-point-right"></i></a>
          </div>
        </section>
    </main>
    <!-- Footer -->
    <%- include("./partials/footer") %>
</body>

</html>