<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles-index.css" />
    <title>Tecno-JUY</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Page content -->
    <main>
      <section class="Banners__splide">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src="\images\images_slider\first-splide.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="\images\images_slider\second-splide.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="\images\images_slider\three-splide.jpg" alt="" />
              </li>
            </ul>
          </div>
        </div>
        <div class="my-slider-progress">
          <div class="my-slider-progress-bar"></div>
        </div>
        <script src="\js\script-splide.js"></script>
      </section>
      <!-- Ultimas novedades productos -->
      <section class="Ultimas-Novedades">
        <div class="latest-title"><h3>Últimas Novedades</h3></div>
        <div class="carousel-container">
          <%productsIndex.forEach((product)=>{%>
          <%if(product.ofert===false&&product.productHome){%>

          <div class="product-card">
            <a href="/products/product/<%= product.id%>">
              <div class="container-product-image">
                <img
                  class="product-image"
                  src="<%=product.img %>"
                  alt="productosNovedad"
                />
              </div>
              <div class="container-descripcion-product">
                <div class="product-name">
                  <p><%= product.nombre %></p>
                </div>
                <div class="product-price">
                  <span><%= product.precio %></span>
                </div>
              </div>
            </a>
          </div>
          <%}});%>
        </div>
        <div class="see-more">
          <a href="/products"><span>VER TODO</span></a>
        </div>
      </section>
      <!-- Ofertas productos -->
      <section class="Ofertas">
        <div class="latest-title-2"><h3>Ofertas</h3></div>
        <div class="carousel-container">
          <% productsIndex.forEach((product)=>{%>
          <%if(product.ofert&&product.productHome) {%>
          <div class="product-card">
            <a href="/products/product/<%= product.id%>">
              <div class="container-product-image">
                <div class="ofert-product">
                  <span> <%=product.descuento%></span>
                </div>
                <img
                  class="product-image"
                  src="<%=product.img %>"
                  alt="productosOferta"
                />
              </div>
              <div class="container-descripcion-product">
                <div class="product-name"><p><%=product.nombre%></p></div>
                <div class="product-price">
                  <span> <%=product.precio %></span>
                </div>
              </div>
            </a>
          </div>
          <%}});%>
        </div>

        <div class="see-more">
          <a href="/products"><span>VER TODO</span></a>
        </div>
      </section>
      <%- include("./partials/slider-marcas") %>

      <section class="banner-discount">
        <div class="banner-container">
          <div class="banner-text">
            <h4>¡Únete Gratis por Primera Vez y Obtén un 10% de Descuento!</h4>
          </div>
          <a class="join-button" href="/login-register"
            ><i class="fa-solid fa-hand-point-right"></i
          ></a>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
