<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/product-detail-styles.css" />
    <title>
      <%= product.nombre %>
    </title>
</head>

<body>
  <!-- Header -->
  <%- include("./partials/header") %>
    <!-- Page content -->
    <main>
      <div class="content-product-general">
        <div class="content-img">
          <div class="title-product-tablet">
            <h1>
              <%=product.nombre%>
            </h1>
          </div>
          <div class="type-product-tablet">
            <p>>> <%=product.tipo.nombre%> >><%=product.marca.nombre%>
            </p>
          </div>
          <img src="<%=product.img%>" alt="imagenproduct" />
          <div class="price-tablet">
            <% if (product.descuento) { %>
              <p>
                <del><span style="color: gray">$<%= product.precio.toLocaleString() %></span></del>
              </p>
              <% let precioDescuento=product.precio - (product.precio * product.descuento / 100); %>
                <h1>
                  $<%= precioDescuento.toLocaleString() %>
                    <span>
                      <%= product.descuento %> %OFF
                    </span>
                </h1>

                <% } else { %>
                  <h1>$<%= product.precio.toLocaleString() %>
                  </h1>
                  <% } %>
                    <div class="cuotas">
                      <p>
                        en x12 de <%= (product.precio * 1.05 / 12).toLocaleString() %> $
                      </p>
                      <a href="">Ver medios de pago</a>
                    </div>
          </div>
        </div>
        <div class="content-medios-precio-nombre">
          <div class="title-product">
            <h1>
              <%=product.nombre%>
            </h1>
          </div>
          <div class="type-product">
            <p>>> <%=product.tipo.nombre%> >> <%=product.marca.nombre%>
            </p>
          </div>
          <hr />
          <div class="content-precio-metodos">
            <div class="price">
              <% if (product.descuento) { %>
                <p>
                  <del><span style="color: gray">$<%= product.precio.toLocaleString() %></span></del>
                </p>
                <% let precioDescuento=product.precio - (product.precio * product.descuento / 100); %>
                  <h1>
                    $<%= precioDescuento.toLocaleString() %>
                      <span>
                        <%= product.descuento %> %OFF
                      </span>
                  </h1>

                  <% } else { %>
                    <h1>$<%= product.precio.toLocaleString() %>
                    </h1>
                    <% } %>
                      <div class="cuotas">
                        <p>
                          en x12 de <%= (product.precio * 1.05 / 12).toLocaleString() %>$
                        </p>
                        <a href="">Ver medios de pago</a>
                      </div>
            </div>
            <hr />
            <div class="content-medios">
              <div class="medio">
                <i class="fa-solid fa-truck"></i>
                <p>Envios gratis a la provincia.</p>
              </div>
              <div class="medio">
                <i class="fa-solid fa-delete-left"></i>

                <p>Devolución gratis.</p>
              </div>
              <div class="medio">
                <i class="fa-solid fa-user-shield"></i>
                <p>Garantía - 12 meses.</p>
              </div>
              <hr />
              <div class="buttons-2">
                <button class="comprar-ahora" type="submit">
                  Comprar Ahora
                </button>
                <button class="agregar-carrito" type="submit">
                  <a href="/products/cart/<%= product.id %>"> Agregar al carrito</a>
                </button>
              </div>
            </div>
            <hr class="hr2" />
          </div>
          <div class="buttons">
            <button class="comprar-ahora" type="submit">Comprar Ahora</button>
            <button class="agregar-carrito" type="submit">
              <a href="/products/cart/<%= product.id %>"> Agregar al carrito</a>
            </button></a>
          </div>
        </div>
      </div>
      <div class="content-des-esp">
        <div class="descripcion">
          <hr />
          <h3>Descripcion</h3>
          <p>
            <%=product.descripcion%>
          </p>
        </div>
        <div class="especificaciones">
          <hr />
          <br />
          <h3>Especificaciones</h3>

          <table>
            <tr>
              <th>Característica</th>
              <th>Valor</th>
            </tr>
            <% product.especificaciones.forEach(function(especificacion) { %>
              <tr>
                <td>
                  <%= especificacion.nombre %>
                </td>
                <td>
                  <%= especificacion.valor %>
                </td>
              </tr>
              <% }); %>
          </table>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <%- include("./partials/footer") %>
</body>

</html>