<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Estas Editando ...</title>
    <link rel="stylesheet" href="\css\edit-create-form.css" />
</head>

<body>
  <%- include("./partials/header") %>

    <main>
      <div class="container">
        <div class="row"></div>
        <div class="form-container">

          <form action="/products/<%= productToEdit.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div>
              <h1>Estás editando: <%= productToEdit.nombre %>
              </h1>
            </div>
            <div>
              <div class="form-container__input">
                <label for="nombre">Nombre del producto:</label>
                <input type="text" id="nombre" name="nombre" value="<%= productToEdit.nombre %>" />
              </div>
              <div class="form-container__input">
                <label for="precio">Precio del producto:</label>
                <input type="text" id="precio" name="precio" value="<%= productToEdit.precio %>" />
              </div>
              <!-- Resto de los campos de edición -->
              <div class="form-container__input">
                <label for="descuento">Descuento:</label>
                <input type="text" id="descuento" name="descuento" value="<%= productToEdit.descuento %>"
                  pattern="[0-9]+" title="Ingresa solo números" />
              </div>

              <!-- Campos para editar "tipo" y "sección" -->
              <div class="form-container__input">
                <label for="tipo">Categoría:</label>
                <select name="tipo" id="tipo">
                  <option value="">Tipo de Producto</option>
                  <% tipos.forEach(function(tipo) { %>
                    <option value="<%= tipo.id %>" <% if (tipo.id===productToEdit.tipoId) { %> selected <% } %>>
                        <%= tipo.nombre %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-container__input">
                <label for="seccion">Sección:</label>
                <select name="seccion" id="seccion">
                  <option value="">Ninguna</option>
                  <% secciones.forEach(function(seccion) { %>
                    <option value="<%= seccion.id %>" <% if (seccion.id===productToEdit.seccionId) { %> selected <% } %>
                        >
                        <%= seccion.nombre %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-container__input">
                <label for="marca">Marca:</label>
                <select name="marca" id="marca">
                  <option value="">Selecciona una marca</option>
                  <% marcas.forEach(function(marca) { %>
                    <option value="<%= marca.id %>" <% if (marca.id===productToEdit.marcaId) { %> selected <% } %>>
                        <%= marca.nombre %>
                    </option>
                    <% }); %>
                </select>
              </div>

              <div class="form-container__input">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion"><%= productToEdit.descripcion %></textarea>
              </div>
              <div class="form-container__input">
                <label for="img">Imágenes del producto</label>
                <input type="file" name="productImage" />
              </div>
              <div class="form-container__button">
                <button type="submit" class="buy-now-button">
                  Guardar cambios
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>