<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
  <link rel="stylesheet" href="\css\edit-create-form.css" />
  <title>Estas Creando ...</title>

  <body>
    <%- include("./partials/header") %>

      <main>
        <div class="container">
          <div class="row"></div>
          <div class="form-container">
            <form action="/products" method="post" enctype="multipart/form-data">
              <div>
                <h1>Estás creando un producto...</h1>
              </div>
              <div>
                <div class="form-container__input">
                  <label for="nombre">Nombre del producto:</label>
                  <input type="text" id="nombre" name="nombre" />
                  <small class="text-danger">
                    <% if (locals.errors && errors.nombre) {%>
                      <%= errors.nombre.msg %>
                        <%} %>
                  </small>
                </div>
                <div class="form-container__input">
                  <label for="precio">Precio del producto:</label>
                  <input type="number" id="precio" name="precio" />
                  <small class="text-danger">
                    <% if (locals.errors && errors.precio) {%>
                      <%= errors.precio.msg %>
                        <%} %>
                  </small>
                </div>
                <div class="form-container__input">
                  <label for="descuento">Descuento:</label>
                  <input type="number" id="descuento" name="descuento" />
                  <small class="text-danger">
                    <% if (locals.errors && errors.descuento) {%>
                      <%= errors.descuento.msg %>
                        <%} %>
                  </small>
                </div>

                <div class="form-container__input">
                  <label for="tipo">Categoría:</label>
                  <select name="tipo" id="tipo">
                    <option value="">Tipo de Producto</option>
                    <% tipos.forEach(function(tipo) { %>
                      <option value="<%= tipo.id %>">
                        <%= tipo.nombre %>
                      </option>
                      <% }); %>
                  </select>
                  <small class="text-danger">
                    <% if (locals.errors && errors.tipo) {%>
                      <%= errors.tipo.msg %>
                        <%} %>
                  </small>
                </div>

                <div class="form-container__input">
                  <label for="seccion">Sección:</label>
                  <select name="seccion" id="seccion">
                    <option value="">Selecciona una Opcion</option>
                    <% secciones.forEach(function(seccion) { %>
                      <option value="<%= seccion.id %>">
                        <%= seccion.nombre %>
                      </option>
                      <% }); %>
                  </select>
                  <small class="text-danger">
                    <% if (locals.errors && errors.seccion) {%>
                      <%= errors.seccion.msg %>
                        <%} %>
                  </small>
                </div>
                <div class="form-container__input">
                  <label for="marca">Marca:</label>
                  <select name="marca" id="marca">
                    <option value="">Selecciona una marca</option>
                    <% marcas.forEach(function(marca) { %>
                      <option value="<%= marca.id %>">
                        <%= marca.nombre %>
                      </option>
                      <% }); %>
                  </select>
                  <small class="text-danger">
                    <% if (locals.errors && errors.marca) {%>
                      <%= errors.marca.msg %>
                        <%} %>
                  </small>
                </div>

                <div class="form-container__input">
                  <label for="descripcion">Descripción:</label>
                  <textarea name="descripcion" id="descripcion" placeholder="250 max length" rows="7"
                    cols="50"></textarea>
                  <small class="text-danger">
                    <% if (locals.errors && errors.descripcion) {%>
                      <%= errors.descripcion.msg %>
                        <%} %>
                  </small>
                </div>
                <% for (let i=1; i <=5; i++) { %>
                  <div class="form-container__input">
                    <label for="especificacionNombre<%= i %>">Nombre de Especificación <%= i %>:</label>
                    <input type="text" id="especificacionNombre<%= i %>" name="especificacionNombre<%= i %>"
                      placeholder="Tamaño de Pantalla" />
                    <label for="especificacionValor<%= i %>">Valor de Especificación <%= i %>:</label>
                    <input type="text" id="especificacionValor<%= i %>" name="especificacionValor<%= i %>"
                      placeholder="32 pulgadas" />

                  </div>
                  <% } %>
                    <div class="form-container__input">
                      <label for="img">Imágenes del producto</label>
                      <input type="file" name="productImage" />
                      <small class="text-danger">
                        <% if (locals.errors && errors.productImage) {%>
                          <%= errors.productImage.msg %>
                            <%} %>
                      </small>
                    </div>

                    <div class="form-container__button">
                      <button type="submit" class="buy-now-button">
                        Guardar cambios
                      </button>
                    </div>
              </div>
            </form>
          </div>
        </div>
      </main>

      <%- include("./partials/footer") %>
  </body>

</html>