<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="\css\slider-infito.css" />
    <link rel="stylesheet" href="/css/product-card.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <title>Productos-TecnoJUY</title>
</head>

<body>
  <!-- Header -->
  <%- include("./partials/header") %>
    <!-- Page content -->
    <main>
      <div class="conteiner-products">
        <div class="Banner-Product">
          <img src="\images\banner-products-1.png" alt="BannerProduct" />
        </div>
        <!-- Ultimas novedades productos -->
        <section class="Products">
          <div class="latest-title">
            <h3>TODOS LOS PRODUCTOS</h3>
          </div>
          <!-- CATEGORIAS MOBILE -->

          <div class="menuOpt">
            <input type="radio" name="memuOpt" id="memuOpt-titulo" checked>
            <input type="radio" name="memuOpt" id="memuOpt-texto">
            <input type="radio" name="memuOpt" id="memuOpt-tabla">
            <input type="radio" name="memuOpt" id="memuOpt-codigo">
            <input type="radio" name="memuOpt" id="memuOpt-imagen">
            <input type="radio" name="memuOpt" id="memuOpt-audio">
            <input type="radio" name="memuOpt" id="memuOpt-video">
            <input type="radio" name="memuOpt" id="memuOpt-iframe">
            <input type="radio" name="memuOpt" id="memuOpt-wassap">
            <input type="radio" name="memuOpt" id="memuOpt-insta">

            <button onclick="this.classList.toggle('active')">
              <label for="memuOpt-titulo">
                <p>CATEGORIAS</p>
              </label>
              <label for="memuOpt-texto">
                <p>PC ARMADAS</p>
              </label>
              <label for="memuOpt-tabla">
                <p>NOTEBOOKS</p>
              </label>
              <label for="memuOpt-codigo">
                <p>GAMING</p>
              </label>
              <label for="memuOpt-imagen">
                <p>MONITORES</p>
              </label>
              <label for="memuOpt-audio">
                <p>AUDIO</p>
              </label>
              <label for="memuOpt-video">
                <p>SMARTPHONES</p>
              </label>
              <label for="memuOpt-iframe">
                <p>SILLAS</p>
              </label>
              <label for="memuOpt-wassap">
                <p>PERIFERICOS</p>
              </label>
              <label for="memuOpt-insta">
                <p>GABINETES</p>
              </label>
            </button>
          </div>
          <!-- CATEGORIAS MOBILE -->

          <div class="conteiner-category-products">
            <div class="category_list">
              <a href="#" class="category_item" category="all">Todo</a>
              <a href="#" class="category_item" category="ordenadores">Ordenadores</a>
              <a href="#" class="category_item" category="laptops">Laptops</a>
              <a href="#" class="category_item" category="smartphones">Smartphones</a>
              <a href="#" class="category_item" category="monitores">Monitores</a>
              <a href="#" class="category_item" category="audifonos">Audifonos</a>
              <div class="Banner-Product-2">
                <img src="\images\banner-products-2.jpg" alt="BannerProduct" />
              </div>
            </div>

            <div class="conteiner-products-list">
              <% products.forEach((product)=> { %>
                <div class="product-card">
                  <a href="/products/product/<%= product.id %>">
                    <div class="container-product-image">
                      <% if (product.descuento) { %>
                        <div class="ofert-product">
                          <span>
                            <%= product.descuento %>% OFF
                          </span>
                        </div>
                        <% } %>
                          <img class="product-image" src="<%= product.img %>" alt="productosOferta" />
                    </div>
                    <div class="container-descripcion-product">
                      <div class="product-name">
                        <p>
                          <%= product.nombre %>
                        </p>
                      </div>
                      <div class="product-price">
                        <span>$
                          <%= product.precio.toLocaleString() %>
                        </span>
                      </div>
                      <div class="buttons">
                        <button class="agregar-carrito" type="submit">
                          <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                        </button>
                      </div>
                    </div>
                  </a>
                </div>
                <% }); %>
            </div>

          </div>
          <div class="pagination">
            <% if (currentPage> 1) { %>
              <a href="/products?page=<%= currentPage - 1 %>" class="pagination-button"><i
                  class="fa-solid fa-angles-left"></i></a>
              <% } %>

                <span class="pagination-info">Página <%= currentPage %> de <%= totalPages %></span>

                <% if (currentPage < totalPages) { %>
                  <a href="/products?page=<%= currentPage + 1 %>" class="pagination-button"><i
                      class="fa-solid fa-angles-right"></i></i></a>
                  <% } %>
          </div>
        </section>



      </div>
      <%- include("./partials/slider-marcas") %>
    </main>
    <!-- Footer -->
    <%- include("./partials/footer") %>
</body>

</html>