<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/product-detail-styles.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Page content -->
    <main>
      <div class="content-product-general">
        <div class="content-img">
          <div class="title-product-tablet">
            <h1><%=product.nombre%></h1>
          </div>
          <div class="type-product-tablet">
            <p>>> <%=product.tipo%></p>
          </div>
          <img src="<%=product.img%>" alt="imagenproduct" />
          <div class="price-tablet">
            <p>¡Precio de contado!</p>
            <h2><%=product.precio%></h2>
            <div class="cuotas"><h4>CUOTAS</h4></div>
          </div>
        </div>
        <div class="content-medios-precio-nombre">
          <div class="title-product">
            <h1><%=product.nombre%></h1>
          </div>
          <div class="type-product">
            <p>>> <%=product.tipo%></p>
          </div>
          <div class="content-precio-metodos">
            <div class="price">
              <p>¡Precio de contado!</p>
              <h2><%=product.precio%></h2>
              <div class="cuotas"><h4>CUOTAS</h4></div>
            </div>

            <div class="content-medios">
              <div class="medio">
                <i class="fa-solid fa-truck"></i>
                <p>Envío gratis a todo el país</p>
              </div>
              <div class="medio">
                <i class="fa-solid fa-delete-left"></i>

                <p>Devolución gratis. Tenés 30 días desde que lo recibís.</p>
              </div>
              <div class="medio">
                <i class="fa-solid fa-user-shield"></i>
                <p>
                  Compra Protegida. recibí el producto que esperabas o te
                  devolvemos tú dinero.
                </p>
              </div>
            </div>
            <hr class="hr2" />
          </div>
          <div class="buttons">
            <button class="agregar-carrito" type="submit">
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
      <div class="content-des-esp">
        <div class="descripcion">
          <hr />
          <h3>Descripcion</h3>
          <p><%=product.descripcion%></p>
        </div>
        <div class="especificaciones">
          <hr />
          <br />
          <h3>Especificaciones</h3>

          <table>
            <tr>
              <th>Característica</th>
              <th>Valor</th>
            </tr>
            <% for (const propiedad in product.caracteristicas) { %>
            <tr>
              <td><%= propiedad %></td>
              <td><%= product.caracteristicas[propiedad] %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
