<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Estas Editando ...</title>
    <link rel="stylesheet" href="\css\edit-create-form.css" />
</head>

<body>
  <%- include("./partials/header") %>

    <main>
      <div class="container">
        <div class="row"></div>
        <div class="form-container">

          <form action="/products/<%= productToEdit.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div>
              <h1>Estás editando: <%= productToEdit.nombre %>
              </h1>
            </div>
            <div>
              <div class="form-container__input">
                <label for="nombre">Nombre del producto:</label>
                <input type="text" id="nombre" name="nombre" value="<%=productToEdit.nombre%>" />
              </div>
              <div class="form-container__input">
                <label for="precio">Precio del producto:</label>
                <input type="text" id="precio" name="precio" value="<%=productToEdit.precio%>" pattern="[0-9]+"
                  title="Ingresa solo números" />
              </div>
              <div class="form-container__input">
                <label for="descuento">Descuento:</label>
                <input type="text" id="descuento" name="descuento" value="<%=productToEdit.descuento%>" pattern="[0-9]+"
                  title="Ingresa solo números" />
              </div>
              <div class="form-container__input">
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" value="<%=productToEdit.marca%>" />
              </div>
              <% let tipos=["Monitores", "Escritorio" , "Smartphones" , "Notebooks" , "Pc Armadas" , "Perifericos" ] %>
                <div class="form-container__input">
                  <label for="tipo">Categoría:</label>
                  <select name="tipo" id="tipo">
                    <option value="">
                      <%=productToEdit.tipo%>
                    </option>
                    <% for (const unTipo of tipos) {%>
                      <option value="<%=unTipo%>">
                        <%=unTipo%>
                      </option>
                      <%}%>
                  </select>
                </div>

                <% let tiposSeccion=["ofertas", "novedades" ] %>
                  <div class="form-container__input">
                    <label for="seccion">Seccion:</label>
                    <select name="seccion" id="seccion">
                      <option value="">
                        Ninguna
                      </option>
                      <% for (const tipo of tiposSeccion) {%>
                        <option value="<%=tipo%>">
                          <%=tipo%>
                        </option>
                        <%}%>
                    </select>
                  </div>
                  <div class="form-container__input">
                    <label for="descripcion">Descripción:</label>
                    <textarea name="descripcion" id="descripcion">
  <%= productToEdit.descripcion %>
</textarea>
                  </div>

                  <div class="tabla-caracteristicas">
                    <table>
                      <thead>
                        <tr>
                          <th>Características</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (const propiedad in productToEdit.caracteristicas) { %>
                          <tr>
                            <td>
                              <input type="text" name="caracteristicas[<%= propiedad %>]" value="<%= propiedad %>" />
                            </td>
                            <td>
                              <input type="text" name="valores[<%= propiedad %>]"
                                value="<%= productToEdit.caracteristicas[propiedad] %>" />
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>

                  <div class="form-container__input">
                    <label for="img">Imágenes del producto</label>
                    <input type="file" name="productImage" />
                  </div>
                  <div class="form-container__button">
                    <button type="submit" class="buy-now-button">
                      Guardar cambios
                    </button>
                  </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>