<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Estas Editando ...</title>
    <link rel="stylesheet" href="\css\edit-create-form.css" />
  </head>
  <body>
    <%- include("./partials/header") %>

    <main>
      <div class="container">
        <div class="row"></div>
        <div class="form-container">
          <div>
            <h1>Estás editando: <%= productToEdit.nombre %></h1>
          </div>
          <form
            action="/products/<%= productToEdit.id %>?_method=PUT"
            method="post"
          >
            <div>
              <div class="form-container__input">
                <label for="nombre">Nombre del producto:</label>
                <input
                  type="text"
                  id="nombre"
                  name="nombre"
                  value="<%=productToEdit.nombre%>"
                />
              </div>
              <div class="form-container__input">
                <label for="precio">Precio del producto:</label>
                <input
                  type="text"
                  id="precio"
                  name="precio"
                  value="<%=productToEdit.precio%>"
                  pattern="[0-9]+"
                  title="Ingresa solo números"
                />
              </div>
              <div class="form-container__input">
                <label for="descuento">Descuento:</label>
                <input
                  type="text"
                  id="descuento"
                  name="descuento"
                  value="<%=productToEdit.descuento%>"
                  pattern="[0-9]+"
                  title="Ingresa solo números"
                />
              </div>
              <div class="form-container__input">
                <label for="category">Categoría:</label>
                <select name="tipo" id="tipo">
                  <option value="">Tipo de producto</option>
                  <option value="Monitores">Monitores</option>
                  <option value="Escritorio">Escritorio</option>
                  <option value="Smartphones">Smartphones</option>
                  <option value="Notebooks">Notebooks</option>
                  <option value="Pc Armada">Pc Armada</option>
                  <option value="Perifericos">Perifericos</option>
                </select>
              </div>
              <div class="form-container__input">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion">
<%= productToEdit.descripcion %></textarea
                >
              </div>

              <div class="form-container__button">
                <button type="submit" class="buy-now-button">
                  Guardar cambios
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
