<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Profile</title>
        <link rel="stylesheet" href="\css\profile.css" />
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
        <!-- Page content -->
        <main>
            <div class="conteiner">
                <div class="form-box">
                    <button class="login-register">¡Bienvenido <%= user.nombreUsuario %>!</button>
                </div>
                <img class="user-image" src="/images/users/<%= user.imgUser %>" alt="avatar">
                <p class="item">
                    Nombre: <%= user.nombreUsuario %>
                </p>
                <p class="item">
                    Apellido: <%= user.apellidoUsuario %>
                </p>
                <p class="item">
                    Correo: <%= user.email %>
                </p>
                <p class="item">
                    Genero: <%= user.genero ? user.genero.nombre : 'No declarado' %>
                </p>
                <p class="item">
                    Provincia: <%= user.domicilio ? (user.domicilio.provincia ? user.domicilio.provincia.nombre
                        : 'No especificada' ) : 'No especificada' %>
                </p>
                <p class="item">
                    Localidad: <%= user.domicilio ? user.domicilio.localidad : 'No especificada' %>
                </p>
                <p class="item">
                    Barrio: <%= user.domicilio ? user.domicilio.barrio : 'No especificado' %>
                </p>
                <p class="item">
                    Calle: <%= user.domicilio ? user.domicilio.calle : 'No especificada' %>
                </p>
                <p class="item">
                    Numero: <%= user.domicilio.numero? user.domicilio.numero : 'No especificado' %>
                </p>
                <p class="item">
                    Codigo Postal: <%= user.domicilio.codigoPostal? user.domicilio.codigoPostal : 'No especificado' %>
                </p>
                <p class="item">
                    Telfono: <%= user.telefono ? user.telefono : 'No especificado' %>
                </p>


                <button class="salir"><a href="/users/edit">EDITAR</a></button>
                <button class="salir"><a href="/users/logout">SALIR</a></button>



            </div>


        </main>
        <!-- Footer -->
        <%- include("../partials/footer") %>
</body>

</html>