<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Login</title>
        <link rel="stylesheet" href="\css\profile.css" />
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
        <!-- Page content -->
        <main>
            <div class="conteiner">
                <div class="form-box">
                 <button class="login-register">¡Bienvenido <%= user.nombreUsuario %>!</button>
                </div>
                <img class="user-image" src="/images/users/<%= user.imgUser %>" alt="avatar">                
                 <p class="nombre"> 
                    Nombre: <%= user.nombreUsuario %>
                 </p>
                 <p class="apellido">
                    Apellido: <%= user.apellidoUsuario %>
                 </p>
                <p class="correo">
                   Correo: <%= user.email %>
                </p>
                
            
                <button class="salir"><a href="/users/logout">SALIR</a</button>

            </div>


        </main>
        <!-- Footer -->
        <%- include("../partials/footer") %>
</body>

</html>