<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Login</title>
        <link rel="stylesheet" href="\css\profile.css" />
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
        <!-- Page content -->
        <main>
            <div class="conteiner">
                <div class="form-box">
                 <button class="login-register">¡Bienvenido <%= user.nombreUsuario %>!</button>
                </div>
                <img class="user-image" src="/images/users/<%= user.imgUser %>" alt="avatar">                
                 <p class="nombre"> 
                    Nombre: <%= user.nombreUsuario %>
                 </p>
                 <p class="apellido">
                    Apellido: <%= user.apellidoUsuario %>
                 </p>
                <p class="correo">
                   Correo: <%= user.email %>
                </p>
                <p class="genero">
                    Genero: Masculino
                </p>
                <p class="provincia">
                    Provincia: Jujuy
                </p>
                <p class="localidad">
                    Localidad: San Salvador de Jujuy
                </p>
                <p class="Barrio">
                    Barrio: Alto Comedero
                </p>
                <p class="calle">
                    Calle: 500, lote 3, manzana 5 
                </p>
                <p class="numero">
                    Numero: 3885212081
                </p>
            
                <button class="editar"><a href="/users/logout">EDITAR</a</button>

                <button class="salir"><a href="/users/logout">SALIR</a</button>
              

            </div>


        </main>
        <!-- Footer -->
        <%- include("../partials/footer") %>
</body>

</html>