<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Login</title>
        <link rel="stylesheet" href="\css\profile.css" />
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
        <!-- Page content -->
        <main>
            <div class="conteiner">
                <div class="form-box">

                    <div class="login-register">hola <%= user.nombreUsuario %>
                    </div>
                    <img class="user-image" src="/images/users/<%= user.imgUser %>" alt="avatar">
                    <p>
                        <%= user.email %>
                    </p>
                    <p class="registrarse">
                        <a href="/users/logout">SALIR</a>
                    </p>
                </div>
            </div>


        </main>
        <!-- Footer -->
        <%- include("../partials/footer") %>
</body>

</html>