<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="\css\style-login-register.css" />
        <title>Register</title>
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
        <!-- Page content -->
        <main>
            <div class="conteiner">
                <div class="form-box">
                    <div class="login-register">Crea tu cuenta</div>
                    <form action="/users/register" method="POST" id="register" class="input-group"
                        enctype="multipart/form-data">
                        <input type="text" class="input-field" id="nombreUsuario" name="nombreUsuario"
                            placeholder="Nombre" value="<%= locals.oldData?oldData.nombreUsuario:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.nombreUsuario) {%>
                                <%= errors.nombreUsuario.msg %>
                                    <%} %>
                        </div>
                        <input type="text" class="input-field" id="apellidoUsuario" name="apellidoUsuario"
                            placeholder="Apellido" value="<%= locals.oldData?oldData.apellidoUsuario:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.apellidoUsuario) {%>
                                <%= errors.apellidoUsuario.msg %>
                                    <%} %>
                        </div>
                        <input type="text" class="input-field" id="email" name="email" placeholder="Email"
                            value="<%= locals.oldData?oldData.email:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.email) {%>
                                <%= errors.email.msg %>
                                    <%} %>
                        </div>
                        <input type="password" class="input-field" id="password" name="password"
                            placeholder="Contraseña" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.password) {%>
                                <%= errors.password.msg %>
                                    <%} %>
                        </div>
                        <p>Genero</p>
                        <select id="genero" name="genero">
                            <% generos.forEach((genero)=> { %>
                                <option value="<%= genero.id %>">
                                    <%= genero.nombre %>
                                </option>
                                <% }); %>
                        </select>

                        <p>Provincia</p>

                        <select id="provincia" name="provincia">
                            <% provincias.forEach((provincia)=> { %>
                                <option value="<%= provincia.id %>">
                                    <%= provincia.nombre %>
                                </option>
                                <% }); %>
                        </select>

                        <input type="text" class="input-field" id="localidad" name="localidad" placeholder="Localidad"
                            value="<%= locals.oldData?oldData.localidad:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.localidad) {%>
                                <%= errors.localidad.msg %>
                                    <%} %>
                        </div>
                        <input type="text" class="input-field" id="barrio" name="barrio" placeholder="Barrio"
                            value="<%= locals.oldData?oldData.barrio:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.barrio) {%>
                                <%= errors.barrio.msg %>
                                    <%} %>
                        </div>
                        <input type="text" class="input-field" id="calle" name="calle" placeholder="Calle"
                            value="<%= locals.oldData?oldData.calle:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.calle) {%>
                                <%= errors.calle.msg %>
                                    <%} %>
                        </div>
                        <input type="number" class="input-field" id="numero" name="numero" placeholder="Numero"
                            value="<%= locals.oldData?oldData.numero:null %>" />
                        <input type="number" class="input-field" id="zip" name="zip" placeholder="Codigo Postal"
                            value="<%= locals.oldData?oldData.zip:null %>" />
                        <div class="text-danger">
                            <% if (locals.errors && errors.zip) {%>
                                <%= errors.zip.msg %>
                                    <%} %>
                        </div>
                        <input type="number" class="input-field" id="telefono" name="telefono"
                            placeholder="Número de teléfono" value="<%= locals.oldData?oldData.telefono:null %>" />

                        <div class="upload-button">
                            <label for="profile-image" class="custom-file-upload">
                                Foto de Perfil
                            </label>
                            <input type="file" id="profile-image" name="userImage" class="file-input">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.userImage) {%>
                                <%= errors.userImage.msg %>
                                    <%} %>
                        </div>
                        <button type="submit" class="submit-btn">Enviar</button>
                    </form>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include("../partials/footer") %>
</body>

</html>